In [7]:
# Data Exploration and Preprocessing

import pandas as pd
data = pd.read_csv(r"D:\Excelr Assignments\12 EDA2\EDA2\adult_with_headers.csv")
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
summary_stats = data.describe(include='all')
data_info = data.info()
summary_stats, data_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

(                 age workclass        fnlwgt education  education_num  \
 count   32561.000000     32561  3.256100e+04     32561   32561.000000
 unique           NaN         9           NaN        16            NaN
 top              NaN   Private           NaN   HS-grad            NaN
 freq             NaN     22696           NaN     10501            NaN
 mean       38.581647       NaN  1.897784e+05       NaN      10.080679
 std        13.640433       NaN  1.055500e+05       NaN       2.572720
 min        17.000000       NaN  1.228500e+04       NaN       1.000000
 25%        28.000000       NaN  1.178270e+05       NaN       9.000000
 50%        37.000000       NaN  1.783560e+05       NaN      10.000000
 75%        48.000000       NaN  2.370510e+05       NaN      12.000000
 max        90.000000       NaN  1.484705e+06       NaN      16.000000

              marital_status       occupation relationship    race    sex  \
 count                 32561            32561        32561   32561  32561
 unique                    7               15            6       5      2
 top      Married-civ-spouse   Prof-specialty      Husband   White   Male
 freq                  14976             4140        13193   27816  21790
 mean                    NaN              NaN          NaN     NaN    NaN
 std                     NaN              NaN          NaN     NaN    NaN
 min                     NaN              NaN          NaN     NaN    NaN
 25%                     NaN              NaN          NaN     NaN    NaN
 50%                     NaN              NaN          NaN     NaN    NaN
 75%                     NaN              NaN          NaN     NaN    NaN
 max                     NaN              NaN          NaN     NaN    NaN

         capital_gain  capital_loss  hours_per_week  native_country  income
 count   32561.000000  32561.000000    32561.000000           32561   32561
 unique           NaN           NaN             NaN              42       2
 top              NaN           NaN             NaN   United-States   <=50K
 freq             NaN           NaN             NaN           29170   24720
 mean     1077.648844     87.303830       40.437456             NaN     NaN
 std      7385.292085    402.960219       12.347429             NaN     NaN
 min         0.000000      0.000000        1.000000             NaN     NaN
 25%         0.000000      0.000000       40.000000             NaN     NaN
 50%         0.000000      0.000000       40.000000             NaN     NaN
 75%         0.000000      0.000000       45.000000             NaN     NaN
 max     99999.000000   4356.000000       99.000000             NaN     NaN  ,
 None)

In [9]:
print(data.describe(include='all'))
print(data.info())

                 age workclass        fnlwgt education  education_num  \
count   32561.000000     32561  3.256100e+04     32561   32561.000000
unique           NaN         9           NaN        16            NaN
top              NaN   Private           NaN   HS-grad            NaN
freq             NaN     22696           NaN     10501            NaN
mean       38.581647       NaN  1.897784e+05       NaN      10.080679
std        13.640433       NaN  1.055500e+05       NaN       2.572720
min        17.000000       NaN  1.228500e+04       NaN       1.000000
25%        28.000000       NaN  1.178270e+05       NaN       9.000000
50%        37.000000       NaN  1.783560e+05       NaN      10.000000
75%        48.000000       NaN  2.370510e+05       NaN      12.000000
max        90.000000       NaN  1.484705e+06       NaN      16.000000

             marital_status       occupation relationship    race    sex  \
count                 32561            32561        32561   32561  32561
unique                    7               15            6       5      2
top      Married-civ-spouse   Prof-specialty      Husband   White   Male
freq                  14976             4140        13193   27816  21790
mean                    NaN              NaN          NaN     NaN    NaN
std                     NaN              NaN          NaN     NaN    NaN
min                     NaN              NaN          NaN     NaN    NaN
25%                     NaN              NaN          NaN     NaN    NaN
50%                     NaN              NaN          NaN     NaN    NaN
75%                     NaN              NaN          NaN     NaN    NaN
max                     NaN              NaN          NaN     NaN    NaN

        capital_gain  capital_loss  hours_per_week  native_country  income
count   32561.000000  32561.000000    32561.000000           32561   32561
unique           NaN           NaN             NaN              42       2
top              NaN           NaN             NaN   United-States   <=50K
freq             NaN           NaN             NaN           29170   24720
mean     1077.648844     87.303830       40.437456             NaN     NaN
std      7385.292085    402.960219       12.347429             NaN     NaN
min         0.000000      0.000000        1.000000             NaN     NaN
25%         0.000000      0.000000       40.000000             NaN     NaN
50%         0.000000      0.000000       40.000000             NaN     NaN
75%         0.000000      0.000000       45.000000             NaN     NaN
max     99999.000000   4356.000000       99.000000             NaN     NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [10]:
missing_values = data.isnull().sum()
print(missing_values)

for column in data.columns:
    if data[column].isnull().sum() > 0:
        if data[column].dtype == 'object':
            data[column].fillna(data[column].mode()[0], inplace=True)
        else:
            data[column].fillna(data[column].mean(), inplace=True)

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [11]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler_standard = StandardScaler()
data_standard_scaled = data.copy()
data_standard_scaled[data_standard_scaled.select_dtypes(include=['int64', 'float64']).columns] = scaler_standard.fit_transform(data_standard_scaled.select_dtypes(include=['int64', 'float64']))
data_standard_scaled

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.030671,State-gov,-1.063611,Bachelors,1.134739,Never-married,Adm-clerical,Not-in-family,White,Male,0.148453,-0.21666,-0.035429,United-States,<=50K
1,0.837109,Self-emp-not-inc,-1.008707,Bachelors,1.134739,Married-civ-spouse,Exec-managerial,Husband,White,Male,-0.145920,-0.21666,-2.222153,United-States,<=50K
2,-0.042642,Private,0.245079,HS-grad,-0.420060,Divorced,Handlers-cleaners,Not-in-family,White,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
3,1.057047,Private,0.425801,11th,-1.197459,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
4,-0.775768,Private,1.408176,Bachelors,1.134739,Married-civ-spouse,Prof-specialty,Wife,Black,Female,-0.145920,-0.21666,-0.035429,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,Private,0.639741,Assoc-acdm,0.746039,Married-civ-spouse,Tech-support,Wife,White,Female,-0.145920,-0.21666,-0.197409,United-States,<=50K
32557,0.103983,Private,-0.335433,HS-grad,-0.420060,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,-0.145920,-0.21666,-0.035429,United-States,>50K
32558,1.423610,Private,-0.358777,HS-grad,-0.420060,Widowed,Adm-clerical,Unmarried,White,Female,-0.145920,-0.21666,-0.035429,United-States,<=50K
32559,-1.215643,Private,0.110960,HS-grad,-0.420060,Never-married,Adm-clerical,Own-child,White,Male,-0.145920,-0.21666,-1.655225,United-States,<=50K
32560,0.983734,Self-emp-inc,0.929893,HS-grad,-0.420060,Married-civ-spouse,Exec-managerial,Wife,White,Female,1.888424,-0.21666,-0.035429,United-States,>50K

In [12]:
scaler_minmax = MinMaxScaler()
data_minmax_scaled = data.copy()
data_minmax_scaled[data_minmax_scaled.select_dtypes(include=['int64', 'float64']).columns] = scaler_minmax.fit_transform(data_minmax_scaled.select_dtypes(include=['int64', 'float64']))
data_minmax_scaled

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.021740,0.0,0.397959,United-States,<=50K
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,0.122449,United-States,<=50K
2,0.287671,Private,0.138113,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,0.397959,United-States,<=50K
3,0.493151,Private,0.151068,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,0.397959,United-States,<=50K
4,0.150685,Private,0.221488,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,0.397959,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,Private,0.166404,Assoc-acdm,0.733333,Married-civ-spouse,Tech-support,Wife,White,Female,0.000000,0.0,0.377551,United-States,<=50K
32557,0.315068,Private,0.096500,HS-grad,0.533333,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.000000,0.0,0.397959,United-States,>50K
32558,0.561644,Private,0.094827,HS-grad,0.533333,Widowed,Adm-clerical,Unmarried,White,Female,0.000000,0.0,0.397959,United-States,<=50K
32559,0.068493,Private,0.128499,HS-grad,0.533333,Never-married,Adm-clerical,Own-child,White,Male,0.000000,0.0,0.193878,United-States,<=50K
32560,0.479452,Self-emp-inc,0.187203,HS-grad,0.533333,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.150242,0.0,0.397959,United-States,>50K

In [13]:
# Encoding Techniques

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
categorical_columns = [col for col in data.select_dtypes(include=['object']).columns if data[col].nunique() < 5]
data_one_hot_encoded = pd.get_dummies(data, columns=categorical_columns)
data_one_hot_encoded

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,2174,0,40,United-States,0,1,1,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,United-States,0,1,1,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,40,United-States,0,1,1,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,40,United-States,0,1,1,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,40,Cuba,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,0,0,38,United-States,1,0,1,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,40,United-States,0,1,0,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,0,0,40,United-States,1,0,1,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,20,United-States,0,1,1,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,15024,0,40,United-States,1,0,0,1

In [14]:
label_encoder = LabelEncoder()
for col in data.select_dtypes(include=['object']).columns:
    if col not in categorical_columns:
        data[col] = label_encoder.fit_transform(data[col])
label_encoder

LabelEncoder()

In [15]:
# Example of creating new features
data['hours_per_week_squared'] = data['hours_per_week'] ** 2
data['age_income_ratio'] = data['age'] / (data['capital_gain'] + 1)
data['hours_per_week_squared']

0        1600
1         169
2        1600
3        1600
4        1600
         ...
32556    1444
32557    1600
32558    1600
32559     400
32560    1600
Name: hours_per_week_squared, Length: 32561, dtype: int64

In [16]:
data['age_income_ratio']

0         0.017931
1        50.000000
2        38.000000
3        53.000000
4        28.000000
           ...
32556    27.000000
32557    40.000000
32558    58.000000
32559    22.000000
32560     0.003461
Name: age_income_ratio, Length: 32561, dtype: float64

In [17]:
import numpy as np
data['capital_gain'] = np.log1p(data['capital_gain'])
data['capital_gain']

0        7.684784
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
32556    0.000000
32557    0.000000
32558    0.000000
32559    0.000000
32560    9.617471
Name: capital_gain, Length: 32561, dtype: float64

In [18]:
# Feature Selection

from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(contamination=0.1)
outliers = iso_forest.fit_predict(data.select_dtypes(include=['int64', 'float64']))
data_no_outliers = data[outliers == 1]
iso_forest

IsolationForest(contamination=0.1)

In [19]:
outliers

array([ 1,  1,  1, ...,  1,  1, -1])

In [20]:
data_no_outliers

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,hours_per_week_squared,age_income_ratio
0,39,7,77516,9,13,4,1,1,4,Male,7.684784,0,40,39,<=50K,1600,0.017931
1,50,6,83311,9,13,2,4,0,4,Male,0.000000,0,13,39,<=50K,169,50.000000
2,38,4,215646,11,9,0,6,1,4,Male,0.000000,0,40,39,<=50K,1600,38.000000
3,53,4,234721,1,7,2,6,0,2,Male,0.000000,0,40,39,<=50K,1600,53.000000
4,28,4,338409,9,13,2,10,5,2,Female,0.000000,0,40,5,<=50K,1600,28.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,22,4,310152,15,10,4,11,1,4,Male,0.000000,0,40,39,<=50K,1600,22.000000
32556,27,4,257302,7,12,2,13,5,4,Female,0.000000,0,38,39,<=50K,1444,27.000000
32557,40,4,154374,11,9,2,7,0,4,Male,0.000000,0,40,39,>50K,1600,40.000000
32558,58,4,151910,11,9,6,1,4,4,Female,0.000000,0,40,39,<=50K,1600,58.000000
32559,22,4,201490,11,9,4,1,3,4,Male,0.000000,0,20,39,<=50K,400,22.000000

In [21]:
!pip install ppscore

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ppscore in c:\users\aravi\appdata\roaming\python\python311\site-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\aravi\appdata\roaming\python\python311\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\programdata\anaconda3\lib\site-packages (from ppscore) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [22]:
# Apply PPS (Predictive Power Score):

import ppscore as pps
data = data_no_outliers.copy()
pps_matrix = pps.matrix(data)
pps_matrix

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,age,age,1.00000,predict_itself,True,None,0.000000,1.000000,None
1,age,workclass,0.00000,regression,True,mean absolute error,0.713200,0.845999,DecisionTreeRegressor()
2,age,fnlwgt,0.00000,regression,True,mean absolute error,74060.350400,75280.516991,DecisionTreeRegressor()
3,age,education,0.00000,regression,True,mean absolute error,2.680800,2.756283,DecisionTreeRegressor()
4,age,education_num,0.00000,regression,True,mean absolute error,1.756200,1.807569,DecisionTreeRegressor()
...,...,...,...,...,...,...,...,...,...
284,age_income_ratio,hours_per_week,0.00000,regression,True,mean absolute error,6.258200,6.702967,DecisionTreeRegressor()
285,age_income_ratio,native_country,0.00000,regression,True,mean absolute error,2.107800,3.816624,DecisionTreeRegressor()
286,age_income_ratio,income,0.09928,classification,True,weighted F1,0.707518,0.736556,DecisionTreeClassifier()
287,age_income_ratio,hours_per_week_squared,0.00000,regression,True,mean absolute error,488.973000,544.827591,DecisionTreeRegressor()
288,age_income_ratio,age_income_ratio,1.00000,predict_itself,True,None,0.000000,1.000000,None

In [23]:
correlation_matrix = data.corr()
correlation_matrix

C:\Users\aravi\AppData\Local\Temp\ipykernel_26092\3337139685.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = data.corr()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,hours_per_week_squared,age_income_ratio
age,1.000000,0.034743,-0.079261,-0.005203,0.034031,-0.318598,-0.002152,-0.260301,0.019045,0.047445,0.025256,0.164848,0.003042,0.138229,0.849870
workclass,0.034743,1.000000,-0.016550,0.014650,0.041191,-0.056803,0.233576,-0.094857,0.050923,0.008087,-0.003140,0.105578,-0.002594,0.112528,0.027036
fnlwgt,-0.079261,-0.016550,1.000000,-0.022853,-0.049214,0.032241,-0.004068,0.009460,-0.024861,-0.036352,-0.026359,-0.019648,-0.057799,-0.029917,-0.050857
education,-0.005203,0.014650,-0.022853,1.000000,0.340928,-0.029443,-0.029941,-0.006693,0.012889,0.027880,0.021876,0.039767,0.068867,0.042295,-0.018725
education_num,0.034031,0.041191,-0.049214,0.340928,1.000000,-0.051860,0.101334,-0.084248,0.024512,0.043724,0.057293,0.130921,0.061209,0.133322,0.007784
marital_status,-0.318598,-0.056803,0.032241,-0.029443,-0.051860,1.000000,-0.003322,0.184145,-0.069118,-0.053228,-0.033845,-0.193438,-0.026443,-0.174038,-0.253097
occupation,-0.002152,0.233576,-0.004068,-0.029941,0.101334,-0.003322,1.000000,-0.079584,0.008072,0.002023,0.011309,0.057450,-0.010601,0.068458,-0.002581
relationship,-0.260301,-0.094857,0.009460,-0.006693,-0.084248,0.184145,-0.079584,1.000000,-0.117615,-0.051055,-0.055948,-0.271985,-0.003650,-0.257747,-0.203239
race,0.019045,0.050923,-0.024861,0.012889,0.024512,-0.069118,0.008072,-0.117615,1.000000,0.013379,0.018328,0.051040,0.135518,0.059087,0.010259
capital_gain,0.047445,0.008087,-0.036352,0.027880,0.043724,-0.053228,0.002023,-0.051055,0.013379,1.000000,-0.034105,0.024491,0.016390,0.003290,-0.473953
capital_loss,0.025256,-0.003140,-0.026359,0.021876,0.057293,-0.033845,0.011309,-0.055948,0.018328,-0.034105,1.000000,0.039552,0.010839,0.025130,0.040056
hours_per_week,0.164848,0.105578,-0.019648,0.039767,0.130921,-0.193438,0.057450,-0.271985,0.051040,0.024491,0.039552,1.000000,0.001069,0.968206,0.134372
native_country,0.003042,-0.002594,-0.057799,0.068867,0.061209,-0.026443,-0.010601,-0.003650,0.135518,0.016390,0.010839,0.001069,1.000000,0.006137,-0.005650
hours_per_week_squared,0.138229,0.112528,-0.029917,0.042295,0.133322,-0.174038,0.068458,-0.257747,0.059087,0.003290,0.025130,0.968206,0.006137,1.000000,0.121739
age_income_ratio,0.849870,0.027036,-0.050857,-0.018725,0.007784,-0.253097,-0.002581,-0.203239,0.010259,-0.473953,0.040056,0.134372,-0.005650,0.121739,1.000000